#search {
    margin-left: 165px;
    margin-top: 5px;
}

.navbar-item1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.navbar-brand {
    margin-left: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 50px;
}

::-webkit-calendar-picker-indicator {
    display: none;
  }

hr {
    border-top: 1px solid black;
    margin: 0;
    padding: 0;
    width: 100%;
}

#movie-times {
    margin-top: 20px;
  }

.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1000px;
}

.left-column {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.right-column {
    flex: 1;
    padding: 20px;
}